.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.drawer {
  position: absolute;
  width: 100%;
  max-width: 385px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    img {
      cursor: pointer;
    }
  }

  &__wrapper {
    flex: 1;
    overflow: auto;
  }

  &__wrapperItem {
    font-size: 14px;
    padding: 20px 20px 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    overflow: hidden;

    & + & {
      margin-top: 20px;
    }

    > img {
      margin-right: 10px;
    }

    &_content {
      > div {
        margin-bottom: 8px;
      }

      &_cost {
        font-weight: 700;
      }
    }
  }

  &__bottom {
    margin-top: 25px;

    ul {
      margin-bottom: 25px;

      li {
        font-size: 16px;
        display: flex;
        column-gap: 8px;

        div {
          flex: 1;
          height: 1px;
          margin-top: auto;
          border: 1px dashed #eaeaea;
        }

        span {
          font-weight: 700;
        }
      }

      li + li {
        margin-top: 20px;
      }
    }
  }
}

.greenButton {
  color: #fff;
  width: 100%;
  max-width: 100%;
  padding: 17px 0;
  background-color: #9dd558;
  border-radius: 18px;
  position: relative;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #8ad133;
  }

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    width: 16px;
    height: 13px;
    background-image: url('../../public/images/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.2s ease;
  }

  &:hover::after {
    transform: translate(5px, -50%);
  }
}
